/**
 * ******************************************************
 * @file                     variables.scss
 * @description             Checkbox variables and prefixes
 * @author                  blancnova-web
 * ******************************************************
 */

$checkbox-prefix: bn-checkbox;
$checkbox-group-prefix: bn-checkbox-group;

@mixin checkbox-base-variables {
  --bn-checkbox-size: 16px;
  --bn-checkbox-font-size: 14px;
  --bn-checkbox-size-sm: 14px;
  --bn-checkbox-font-size-sm: 12px;
  --bn-checkbox-size-lg: 18px;
  --bn-checkbox-font-size-lg: 16px;
  --bn-checkbox-check-width: 4px;
  --bn-checkbox-check-height: 8px;
  --bn-checkbox-indeterminate-width: 8px;
  --bn-checkbox-indeterminate-height: 2px;
  --bn-checkbox-border-radius: 2px;
  --bn-checkbox-bg: #fff;
  --bn-checkbox-border-color: #d9d9d9;
  --bn-checkbox-text-color: rgb(0 0 0 / 88%);
  --bn-checkbox-checked-bg: #1677ff;
  --bn-checkbox-checked-border: #1677ff;
  --bn-checkbox-check-color: #fff;
  --bn-checkbox-hover-border: #1677ff;
  --bn-checkbox-focus-border: #1677ff;
  --bn-checkbox-focus-shadow: rgb(22 119 255 / 20%);
  --bn-checkbox-disabled-bg: #f5f5f5;
  --bn-checkbox-disabled-border: #d9d9d9;
  --bn-checkbox-disabled-text-color: rgb(0 0 0 / 25%);
  --bn-checkbox-disabled-check-color: rgb(0 0 0 / 25%);
  --bn-checkbox-disabled-checked-bg: #d9d9d9;
  --bn-checkbox-disabled-checked-border: #d9d9d9;
}

@mixin checkbox-dark-variables {
  --bn-checkbox-bg: rgb(255 255 255 / 8%);
  --bn-checkbox-border-color: #424242;
  --bn-checkbox-text-color: rgb(255 255 255 / 85%);
  --bn-checkbox-checked-bg: #1668dc;
  --bn-checkbox-checked-border: #1668dc;
  --bn-checkbox-hover-border: #1668dc;
  --bn-checkbox-focus-border: #1668dc;
  --bn-checkbox-focus-shadow: rgb(22 104 220 / 20%);
  --bn-checkbox-disabled-bg: rgb(255 255 255 / 8%);
  --bn-checkbox-disabled-border: #424242;
  --bn-checkbox-disabled-text-color: rgb(255 255 255 / 30%);
  --bn-checkbox-disabled-check-color: rgb(255 255 255 / 30%);
  --bn-checkbox-disabled-checked-bg: #424242;
  --bn-checkbox-disabled-checked-border: #424242;
}
