@use './variables' as *;
@use './mixin-base-style' as *;
@use './mixin-size-style' as *;
@use './mixin-color-style' as *;
@use './mixin-variant-style' as *;
@use './mixin-shape-style' as *;
@use './mixin-reset-style' as *;
@use './mixin-variant-color-style' as *;

// ======================================================
// 按钮基础变量
// ======================================================

button.#{$button-prefix} {
  @include button-base-variables;
  @include button-variant-variables;
  @include button-size-variables;
  @include button-color-variables;
  @include button-shape-variables;
}

// ======================================================
// 按钮样式
// ======================================================

// 重置样式
@include button-reset-style;

// 基础样式
@include button-base-style;

// 尺寸样式
@include button-size-style;

// 颜色样式
@include button-color-style;

// 变体样式
@include button-variant-style;

// 形状样式
@include button-shape-style;

// 变体颜色样式
@include button-variant-color-style;
