/**
 * ******************************************************
 * @file                     mixin-color-style.scss
 * @description             Heading color styles
 * @author                  blancnova-web
 * ******************************************************
 */

@mixin heading-color-style {}
