/**
 * ******************************************************
 * @file                     mixin-state-style.scss
 * @description             Scrollbar state styles
 * @author                  blancnova-web
 * ******************************************************
 */

@use './variables' as *;

@mixin scrollbar-state-style {
  .dark-mode,
  [data-theme='dark'] {
    ::-webkit-scrollbar-track {
      background-color: var(--bn-scrollbar-track-color-dark);
    }

    ::-webkit-scrollbar-thumb {
      background-color: var(--bn-scrollbar-thumb-color-dark);
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: var(--bn-scrollbar-thumb-hover-color-dark);
    }

    ::-webkit-scrollbar-thumb:active {
      background-color: var(--bn-scrollbar-thumb-active-color-dark);
    }

    * {
      scrollbar-color: var(--bn-scrollbar-thumb-color-dark) var(--bn-scrollbar-track-color-dark);
    }
  }
}
