/**
 * ******************************************************
 * @file                     mixin-size-style.scss
 * @description             Scrollbar size styles
 * @author                  blancnova-web
 * ******************************************************
 */

@mixin scrollbar-size-style {}
