// ======================================================
// 滚动条变量混入
// ======================================================

// 滚动条尺寸变量
@mixin scrollbar-size-variables {
  // 滚动条尺寸
  --bn-scrollbar-width: 8px;
  --bn-scrollbar-height: 8px;
  --bn-scrollbar-min-size: 40px;

  // 滚动条圆角
  --bn-scrollbar-border-radius: 4px;
}

// 滚动条颜色变量
@mixin scrollbar-color-variables {
  // 滚动条明亮模式颜色
  --bn-scrollbar-track-color: var(--bn-neutral-color-2);
  --bn-scrollbar-thumb-color: var(--bn-neutral-color-5);
  --bn-scrollbar-thumb-hover-color: var(--bn-neutral-color-6);
  --bn-scrollbar-thumb-active-color: var(--bn-neutral-color-7);

  // 滚动条暗色模式颜色
  --bn-scrollbar-track-color-dark: var(--bn-neutral-color-8);
  --bn-scrollbar-thumb-color-dark: var(--bn-neutral-color-6);
  --bn-scrollbar-thumb-hover-color-dark: var(--bn-neutral-color-5);
  --bn-scrollbar-thumb-active-color-dark: var(--bn-neutral-color-4);
}
