/**
 * ******************************************************
 * @file                     mixin-base-style.scss
 * @description             Base style mixin
 * @author                  blancnova-web
 * ******************************************************
 */
/**
 * ******************************************************
 * @file                     mixin-base-style.scss
 * @description             「表单基础样式混入」
 * 定义表单容器与标签布局样式
 * @author                  blancnova-web
 * ******************************************************
 */

@use './variables' as *;

@mixin form-base-style {
  .#{$form-prefix} {
    width: 100%;
    box-sizing: border-box;

    /* Label position - top */
    &--label-top {
      .bn-form-item {
        display: flex;
        flex-direction: column;

        &__label {
          margin-bottom: var(--bn-spacing-sm);
          text-align: left;
        }
      }
    }

    /* Label position - left/right */
    &--label-left,
    &--label-right {
      .bn-form-item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        &__label {
          margin-bottom: 0;
          margin-right: var(--bn-spacing-3);
          padding-top: 6px;
        }
      }
    }

    /* Label alignment - right */
    &--label-right {
      .bn-form-item__label {
        text-align: right;
      }
    }

    /* Label alignment - left */
    &--label-left {
      .bn-form-item__label {
        text-align: left;
      }
    }
  }
}

