/**
 * ******************************************************
 * @file                     mixin-state-style.scss
 * @description             State style mixin
 * @author                  blancnova-web
 * ******************************************************
 */
/**
 * ******************************************************
 * @file                     mixin-state-style.scss
 * @description             「表单状态样式混入」
 * 预留状态样式
 * @author                  blancnova-web
 * ******************************************************
 */

@mixin form-state-style {}

