/**
 * ******************************************************
 * @file                     mixin-variant-style.scss
 * @description             Variant style mixin
 * @author                  blancnova-web
 * ******************************************************
 */
/**
 * ******************************************************
 * @file                     mixin-variant-style.scss
 * @description             「表单变体样式混入」
 * 预留变体样式
 * @author                  blancnova-web
 * ******************************************************
 */

@mixin form-variant-style {}

