/**
 * ******************************************************
 * @file                     mixin-color-style.scss
 * @description             Color style mixin
 * @author                  blancnova-web
 * ******************************************************
 */
/**
 * ******************************************************
 * @file                     mixin-color-style.scss
 * @description             「表单颜色样式混入」
 * 预留颜色变体样式
 * @author                  blancnova-web
 * ******************************************************
 */

@mixin form-color-style {}

