/**
 * ******************************************************
 * @file                     variables.scss
 * @description             Component variables
 * @author                  blancnova-web
 * ******************************************************
 */
/**
 * ******************************************************
 * @file                     variables.scss
 * @description             「表单组件变量定义」
 * 定义表单组件前缀与基础变量
 * @author                  blancnova-web
 * ******************************************************
 */

$form-prefix: bn-form;

@mixin form-base-variables {}

