/**
 * ******************************************************
 * @file                     variables.scss
 * @description             Component variables
 * @author                  blancnova-web
 * ******************************************************
 */
/**
 * ******************************************************
 * @file                     variables.scss
 * @description             「图标组件变量定义」
 * 定义图标组件前缀与变量混入
 * @author                  blancnova-web
 * ******************************************************
 */

$icon-prefix: bn-icon;

// ======================================================
// 图标变量混入
// ======================================================

// 图标尺寸变量
@mixin icon-size-variables {
  // 图标尺寸
  --bn-icon-size-xs: 12px; // 0.75rem
  --bn-icon-size-sm: 16px; // 1rem
  --bn-icon-size-md: 20px; // 1.25rem
  --bn-icon-size-lg: 24px; // 1.5rem
  --bn-icon-size-xl: 32px; // 2rem
  --bn-icon-size-xxl: 48px; // 3rem
}

// 图标颜色变量
@mixin icon-color-variables {
  // 图标基础颜色
  --bn-icon-color-base: var(--bn-text-color-base);
  --bn-icon-color-secondary: var(--bn-text-color-secondary);
  --bn-icon-color-disabled: var(--bn-text-color-disabled);
  --bn-icon-color-inverse: var(--bn-text-color-inverse);

  // 图标功能色
  --bn-icon-color-primary: var(--bn-text-color-primary-base);
  --bn-icon-color-success: var(--bn-text-color-success-base);
  --bn-icon-color-warning: var(--bn-text-color-warning-base);
  --bn-icon-color-danger: var(--bn-text-color-danger-base);
  --bn-icon-color-info: var(--bn-text-color-info-base);

  // 图标交互状态颜色
  --bn-icon-color-hover: var(--bn-text-color-hover);
  --bn-icon-color-active: var(--bn-text-color-active);
  --bn-icon-color-focus: var(--bn-text-color-focus);
}

// 图标间距变量
@mixin icon-spacing-variables {
  // 文本与图标间距
  --bn-icon-text-spacing-xs: var(--bn-spacing-xxs);
  --bn-icon-text-spacing-sm: var(--bn-spacing-xs);
  --bn-icon-text-spacing-md: var(--bn-spacing-sm);
  --bn-icon-text-spacing-lg: var(--bn-spacing-md);
}

