
.common-form {
  width: 100%;
  box-sizing: border-box;

  &--label-top {
    .common-form-item {
      display: flex;
      flex-direction: column;
      
      &__label {
        margin-bottom: 8px;
        text-align: left;
      }
    }
  }

  &--label-left, &--label-right {
    .common-form-item {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      
      &__label {
        margin-bottom: 0;
        margin-right: 12px;
        padding-top: 6px; // Adjust based on input height (32px usually)
      }
    }
  }

  &--label-right {
    .common-form-item__label {
      text-align: right;
    }
  }
  
  &--label-left {
    .common-form-item__label {
      text-align: left;
    }
  }
}

.common-form-item {
  margin-bottom: 24px;
  
  &.is-error {
    // Error state styling
  }

  &__label {
    font-size: 14px;
    color: var(--text-primary, #333);
    line-height: 20px;
    font-weight: 500;
    box-sizing: border-box;
    flex-shrink: 0;
  }

  &.is-required > &__label::before {
    content: '*';
    color: var(--danger-color, #ff4d4f);
    margin-right: 4px;
    display: inline-block;
  }

  &__content {
    position: relative;
    font-size: 14px;
    flex: 1;
    min-width: 0;
    line-height: 32px; // Match input height
    
    // Reset line-height for children if needed
    > * {
      // line-height: normal; 
    }
  }

  &__error {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 4px;
    font-size: 12px;
    color: var(--danger-color, #ff4d4f);
    line-height: 1;
  }
}
