enable-pre-post-scripts=true
allow-scripts=true
shamefully-hoist=true
strict-peer-dependencies=false
registry=https://registry.npmmirror.com/

@gl:registry=http://verdaccio.mysteeltech.com/

public-hoist-pattern[]=@gl*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*stylistic*
public-hoist-pattern[]=*stylelint*
