@use './variables' as *;

// ======================================================
// 按钮基础变量
// ======================================================

// CSS变量定义
@mixin button-base-variables {
  // 按钮通用变量， 不涉及颜色、尺寸
  --bn-btn-border-style: solid;
  --bn-btn-border-width: var(--bn-border-width-md);
}

// ======================================================
// 按钮基础样式混入
// ======================================================

@mixin button-base-style {
  .#{$button-prefix} {
    position: relative; // 添加相对定位
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    vertical-align: middle;
    text-align: center;

    // 字体之间间距
    letter-spacing: 0.05em;
    text-decoration: none;
    appearance: none;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0.375rem;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid var(--bn-border-color-focus);
      outline-offset: 2px;
    }

    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }
  }
}

