@use './variables' as *;

// ======================================================
// 按钮尺寸变量
// ======================================================

// 按钮尺寸变量
@mixin button-size-variables {
  // 按钮高度
  --bn-btn-height-sm: var(--bn-size-sm);
  --bn-btn-height-md: var(--bn-size-md);
  --bn-btn-height-lg: var(--bn-size-lg);

  // 按钮行高
  --bn-btn-line-height-sm: var(--bn-btn-height-sm);
  --bn-btn-line-height-md: var(--bn-btn-height-md);
  --bn-btn-line-height-lg: var(--bn-btn-height-lg);

  // 按钮尺寸变量
  --bn-btn-font-size-xs: var(--bn-font-size-xs);
  --bn-btn-font-size-sm: var(--bn-font-size-sm);
  --bn-btn-font-size-md: var(--bn-font-size-md);
  --bn-btn-font-size-lg: var(--bn-font-size-lg);

  // 按钮水平内边距
  --bn-btn-padding-horizontal-xs: var(--bn-padding-horizontal-sm);
  --bn-btn-padding-horizontal-sm: var(--bn-padding-horizontal-md);
  --bn-btn-padding-horizontal-md: var(--bn-padding-horizontal-lg);

  // 按钮垂直内边距
  --bn-btn-padding-vertical-xs: 0;
  --bn-btn-padding-vertical-sm: 0;
  --bn-btn-padding-vertical-md: 0;

  // 按钮圆角
  --bn-btn-border-radius-sm: var(--bn-border-radius-sm);
  --bn-btn-border-radius-md: var(--bn-border-radius-md);
  --bn-btn-border-radius-lg: var(--bn-border-radius-lg);
}


// ======================================================
// 按钮样式混入
// ======================================================

// 按钮尺寸样式
@mixin button-size-style {
  .#{$button-prefix} {
    height: var(--bn-btn-height-md);
    padding: var(--bn-btn-padding-vertical-md) var(--bn-btn-padding-horizontal-md);
    font-size: var(--bn-btn-font-size-md);
    line-height: var(--bn-btn-line-height-md);
    border-radius: var(--bn-btn-border-radius-md);
  }

  .#{$button-prefix}.#{$button-prefix}-size-small {
    height: var(--bn-btn-height-sm);
    // padding: var(--bn-btn-padding-vertical-sm) var(--bn-btn-padding-horizontal-sm);
    font-size: var(--bn-btn-font-size-sm);
    line-height: var(--bn-btn-line-height-sm);
    border-radius: var(--bn-btn-border-radius-sm);
  }

  .#{$button-prefix}.#{$button-prefix}-size-medium {
    height: var(--bn-btn-height-md);
    // padding: var(--bn-btn-padding-vertical-md) var(--bn-btn-padding-horizontal-md);
    font-size: var(--bn-btn-font-size-md);
    line-height: var(--bn-btn-line-height-md);
    border-radius: var(--bn-btn-border-radius-md);
  }

  .#{$button-prefix}.#{$button-prefix}-size-large {
    height: var(--bn-btn-height-lg);
    // padding: var(--bn-btn-padding-vertical-lg) var(--bn-btn-padding-horizontal-lg);
    font-size: var(--bn-btn-font-size-lg);
    line-height: var(--bn-btn-line-height-lg);
    border-radius: var(--bn-btn-border-radius-lg);
  }
}
