/**
 * ******************************************************
 * @file                     mixin-size-style.scss
 * @description             Size style mixin
 * @author                  blancnova-web
 * ******************************************************
 */
/**
 * ******************************************************
 * @file                     mixin-size-style.scss
 * @description             「图标尺寸样式混入」
 * 定义图标尺寸变体样式
 * @author                  blancnova-web
 * ******************************************************
 */

@use './variables' as *;

@mixin icon-size-style {
  .#{$icon-prefix}.#{$icon-prefix}-xs {
    font-size: var(--bn-icon-size-xs);
  }

  .#{$icon-prefix}.#{$icon-prefix}-sm {
    font-size: var(--bn-icon-size-sm);
  }

  .#{$icon-prefix}.#{$icon-prefix}-md {
    font-size: var(--bn-icon-size-md);
  }

  .#{$icon-prefix}.#{$icon-prefix}-lg {
    font-size: var(--bn-icon-size-lg);
  }

  .#{$icon-prefix}.#{$icon-prefix}-xl {
    font-size: var(--bn-icon-size-xl);
  }

  .#{$icon-prefix}.#{$icon-prefix}-xxl {
    font-size: var(--bn-icon-size-xxl);
  }
}

