/**
 * ******************************************************
 * @file                     mixin-base-style.scss
 * @description             Base style mixin
 * @author                  blancnova-web
 * ******************************************************
 */
/**
 * ******************************************************
 * @file                     mixin-base-style.scss
 * @description             「图标基础样式混入」
 * 定义图标基础布局样式
 * @author                  blancnova-web
 * ******************************************************
 */

@use './variables' as *;

@mixin icon-base-style {
  .#{$icon-prefix} {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--bn-icon-size-md);
    line-height: 1;
    color: var(--bn-icon-color-base);
    transition: all 0.3s;
  }
}

