/**
 * ******************************************************
 * @file                     mixin-size-style.scss
 * @description             Blockquote size styles
 * @author                  blancnova-web
 * ******************************************************
 */

@mixin blockquote-size-style {}
