/**
 * ******************************************************
 * @file                     mixin-base-style.scss
 * @description             Blockquote base styles
 * @author                  blancnova-web
 * ******************************************************
 */

@use './variables' as *;

@mixin blockquote-base-style {
  blockquote {
    padding-left: var(--bn-blockquote-padding-left);
    margin: var(--bn-blockquote-margin);
    font-size: var(--bn-blockquote-font-size);
    font-style: var(--bn-blockquote-font-style);
    line-height: var(--bn-blockquote-line-height);
    color: var(--bn-blockquote-color);
    background-color: var(--bn-blockquote-background-color);
    border-left: var(--bn-blockquote-border-width) var(--bn-blockquote-border-style)
      var(--bn-blockquote-border-color);

    p {
      margin-top: 0;
      margin-bottom: var(--bn-spacing-sm);
    }

    p:last-child {
      margin-bottom: 0;
    }

    cite {
      display: block;
      margin-top: var(--bn-spacing-sm);
      font-size: var(--bn-font-size-sm);
      font-style: normal;
      color: var(--bn-text-color-tertiary);
    }
  }
}
