/**
 * ******************************************************
 * @file                     mixin-color-style.scss
 * @description             Blockquote color styles
 * @author                  blancnova-web
 * ******************************************************
 */

@use './variables' as *;

@mixin blockquote-color-style {
  .dark-mode,
  [data-theme='dark'] {
    blockquote {
      color: var(--bn-blockquote-color-dark);
      background-color: var(--bn-blockquote-background-color-dark);
      border-left-color: var(--bn-blockquote-border-color-dark);
    }
  }
}
