/**
 * ******************************************************
 * @file                     mixin-state-style.scss
 * @description             Blockquote state styles
 * @author                  blancnova-web
 * ******************************************************
 */

@mixin blockquote-state-style {}
