/**
 * ******************************************************
 * @file                     base.scss
 * @description             「基础输入框样式」
 * 导入并应用所有输入框样式混入
 * @author                  blancnova-web
 * ******************************************************
 */

@use './variables' as *;
@use './mixin-base-style' as *;
@use './mixin-state-style' as *;
@use './mixin-size-style' as *;
@use './mixin-clear-style' as *;

// ==================================================
// #region 应用CSS变量
// ==================================================
.#{$input-prefix} {
  @include input-variables;
}
// #endregion
// ==================================================

// ==================================================
// #region 应用基础样式混入
// ==================================================
@include input-base-style;
@include input-wrapper-style;
@include input-inner-style;
@include input-affix-style;
@include input-error-message-style;
@include input-count-style;
// #endregion
// ==================================================

// ==================================================
// #region 应用状态样式混入
// ==================================================
@include input-hover-state-style;
@include input-focus-state-style;
@include input-disabled-state-style;
@include input-error-state-style;
// #endregion
// ==================================================

// ==================================================
// #region 应用尺寸样式混入
// ==================================================
@include input-size-style;
// #endregion
// ==================================================

// ==================================================
// #region 应用清除按钮样式混入
// ==================================================
@include input-clear-style;
// #endregion
// ==================================================
