/**
 * ******************************************************
 * @file                     mixin-state-style.scss
 * @description             「输入框状态样式混入」
 * 定义输入框组件的各种状态样式
 * @author                  blancnova-web
 * ******************************************************
 */

@use './variables' as *;

// ==================================================
// #region 输入框悬停状态样式混入
// ==================================================
@mixin input-hover-state-style {
  .#{$input-prefix}__wrapper {
    &:hover {
      border-color: var(--bn-primary-color-hover, #4096ff);
    }
  }
}
// #endregion
// ==================================================

// ==================================================
// #region 输入框聚焦状态样式混入
// ==================================================
@mixin input-focus-state-style {
  .#{$input-prefix}__wrapper {
    &--focused {
      border-color: var(--bn-primary-color-base, #1677ff);
      box-shadow: 0 0 0 var(--#{$input-prefix}-outline-width) rgb(5 145 255 / 10%);
    }
  }
}
// #endregion
// ==================================================

// ==================================================
// #region 输入框禁用状态样式混入
// ==================================================
@mixin input-disabled-state-style {
  .#{$input-prefix}__wrapper {
    &--disabled {
      cursor: not-allowed;
      background-color: var(--bn-bg-color-disabled, #f5f5f5);
      border-color: var(--bn-border-color-disabled, #d9d9d9);

      &:hover {
        border-color: var(--bn-border-color-disabled, #d9d9d9);
      }
    }
  }

  .#{$input-prefix}__inner {
    &:disabled {
      color: var(--bn-text-color-disabled, rgb(0 0 0 / 25%));
      cursor: not-allowed;
      -webkit-text-fill-color: var(--bn-text-color-disabled, rgb(0 0 0 / 25%));
      opacity: 1;
    }
  }
}
// #endregion
// ==================================================

// ==================================================
// #region 输入框错误状态样式混入
// ==================================================
@mixin input-error-state-style {
  .#{$input-prefix}__wrapper {
    &--error {
      border-color: var(--bn-error-color-base, #ff4d4f);

      &:hover {
        border-color: var(--bn-error-color-hover, #ff7875);
      }

      &.#{$input-prefix}__wrapper--focused {
        box-shadow: 0 0 0 var(--#{$input-prefix}-outline-width) rgb(255 77 79 / 10%);
      }
    }
  }
}
// #endregion
// ==================================================
