/**
 * ******************************************************
 * @file                     search.scss
 * @description             「搜索输入框样式」
 * 应用搜索输入框样式混入
 * @author                  blancnova-web
 * ******************************************************
 */

@use './variables' as *;
@use './mixin-search-style' as *;

// ==================================================
// #region 应用搜索输入框样式
// ==================================================
@include search-input-style;
// #endregion
// ==================================================
