/**
 * ******************************************************
 * @file                     mixin-state-style.scss
 * @description             Radio state styles
 * @author                  blancnova-web
 * ******************************************************
 */

@mixin radio-state-style {}
