/**
 * ******************************************************
 * @file                     mixin-variant-style.scss
 * @description             Radio variant styles
 * @author                  blancnova-web
 * ******************************************************
 */

@use './variables' as *;

@mixin radio-button-variant-style {
  .#{$radio-prefix}-button--checked:not(.#{$radio-prefix}-button--style-solid) {
    position: relative;
    z-index: 1;
    color: $radio-button-checked-color;
    background: $radio-button-checked-bg;
    border-color: $radio-button-checked-border-color;

    &:hover:not(.#{$radio-prefix}-button--disabled) {
      color: $radio-button-checked-hover-color;
      background: $radio-button-checked-hover-bg;
      border-color: $radio-button-checked-hover-border-color;
    }
  }

  .#{$radio-prefix}-button--checked.#{$radio-prefix}-button--style-solid {
    position: relative;
    z-index: 1;
    color: $radio-button-solid-checked-color;
    background: $radio-button-solid-checked-bg;
    border-color: $radio-button-solid-checked-border-color;

    &:hover:not(.#{$radio-prefix}-button--disabled) {
      color: $radio-button-solid-checked-color;
      background: $radio-button-solid-checked-hover-bg;
      border-color: $radio-button-solid-checked-hover-border-color;
    }

    &:active:not(.#{$radio-prefix}-button--disabled) {
      background: $radio-button-solid-checked-active-bg;
      border-color: $radio-button-solid-checked-active-border-color;
    }

    &.#{$radio-prefix}-button--disabled {
      color: $radio-button-checked-disabled-color;
      background-color: $radio-button-checked-disabled-bg;
      border-color: $radio-button-checked-disabled-border-color;
    }
  }
}
