/**
 * ******************************************************
 * @file                     index.scss
 * @description             「输入框样式入口文件」
 * 加载所有输入框相关样式
 * @author                  blancnova-web
 * ******************************************************
 */

// 导入基础样式（已包含变量和mixins）
@use './base';

// 导入变体组件样式
@use '../variant-components/bn-input-search/styles/bn-input-search';
@use '../variant-components/bn-input-password/styles/bn-input-password';
