.container {
    padding: 32px;
    min-height: 100%;
}

.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    color: var(--text-secondary);
    
    h3 {
        font-size: 20px;
        margin-bottom: 8px;
        color: var(--text-primary);
    }
    
    p {
        font-size: 14px;
    }
}
