/**
 * ******************************************************
 * @file                     mixin-color-style.scss
 * @description             Divider color styles
 * @author                  blancnova-web
 * ******************************************************
 */

@mixin divider-color-style {}
