/**
 * ******************************************************
 * @file                     mixin-variant-style.scss
 * @description             Divider variant styles
 * @author                  blancnova-web
 * ******************************************************
 */

@mixin divider-variant-style {}
