/**
 * ******************************************************
 * @file                     mixin-size-style.scss
 * @description             Divider size styles
 * @author                  blancnova-web
 * ******************************************************
 */

@mixin divider-size-style {}
