// ==================================================
// #region 分割线组件变量
// ==================================================

// 组件前缀
$divider-prefix: bn-divider;

// #endregion
// ==================================================
