// ======================================================
// 危险色板 Danger
// ======================================================
@use '../functions/palette-functions' as palette;

// 危险色板 - 基础色
$danger-5: #ff4d4f !default;

// 自定义梯度（可选）
$danger-custom-colors: () !default;

// 暗色模式基础色
$danger-5-dark: #a61d24 !default;

// 自定义暗色梯度（可选）
$danger-dark-custom-colors: () !default;

// 色板计算
$danger-palette: palette.create-palette('danger', $danger-5, $danger-custom-colors);

$danger-palette-dark: palette.create-palette('danger', $danger-5-dark, $danger-dark-custom-colors);
