/**
 * ******************************************************
 * @file                     variables.scss
 * @description             Component variables
 * @author                  blancnova-web
 * ******************************************************
 */
/**
 * ******************************************************
 * @file                     variables.scss
 * @description             「分页组件变量定义」
 * 定义分页组件前缀与基础变量
 * @author                  blancnova-web
 * ******************************************************
 */

$pagination-prefix: bn-pagination;

@mixin pagination-base-variables {
  --bn-pagination-padding: 12px 16px;
  --bn-pagination-gap: 8px;
  --bn-pagination-size-margin: 0 16px;
  --bn-pagination-btn-size: 32px;
  --bn-pagination-btn-padding: 4px;
  --bn-pagination-btn-radius: 4px;
  --bn-pagination-page-info-min-width: 60px;
}

