/**
 * ******************************************************
 * @file                     mixin-size-style.scss
 * @description             Size style mixin
 * @author                  blancnova-web
 * ******************************************************
 */
/**
 * ******************************************************
 * @file                     mixin-size-style.scss
 * @description             「分页尺寸样式混入」
 * 预留尺寸变体样式
 * @author                  blancnova-web
 * ******************************************************
 */

@mixin pagination-size-style {}

