@use './variables' as *;
@use './mixin-base-style' as *;
@use './mixin-size-style' as *;
@use './mixin-color-style' as *;
@use './mixin-variant-style' as *;
@use './mixin-state-style' as *;
@use './mixin-shape-style' as *;
@use './mixin-border-style' as *;

button.#{$button-trigger-prefix} {
  @include button-trigger-base-variables;
  @include button-trigger-size-variables;
  @include button-trigger-color-variables;
  @include button-trigger-shape-variables;
}

@include button-trigger-base-style;
@include button-trigger-size-style;
@include button-trigger-variant-style;
@include button-trigger-state-style;
@include button-trigger-shape-style;
@include button-trigger-border-style;
