@use './variables' as *;

@mixin button-trigger-border-style {
  .#{$button-trigger-prefix}:not(.#{$button-trigger-prefix}--bordered) {
    --bn-button-trigger-border-color: transparent;
    --bn-button-trigger-hover-border-color: transparent;
    --bn-button-trigger-active-border-color: transparent;
    --bn-button-trigger-selected-border-color: transparent;
    --bn-button-trigger-disabled-border-color: transparent;
  }
}
