@use './variables' as *;

@mixin button-trigger-state-style {
  .#{$button-trigger-prefix} {
    &:hover:not(.#{$button-trigger-prefix}--disabled):not([disabled]) {
      color: var(--bn-button-trigger-hover-text-color);
      background-color: var(--bn-button-trigger-hover-bg-color);
      border-color: var(--bn-button-trigger-hover-border-color);
    }

    &:active:not(.#{$button-trigger-prefix}--disabled):not([disabled]) {
      color: var(--bn-button-trigger-active-text-color);
      background-color: var(--bn-button-trigger-active-bg-color);
      border-color: var(--bn-button-trigger-active-border-color);
    }

    &.#{$button-trigger-prefix}--selected {
      color: var(--bn-button-trigger-selected-text-color);
      background-color: var(--bn-button-trigger-selected-bg-color);
      border-color: var(--bn-button-trigger-selected-border-color);
    }

    &.#{$button-trigger-prefix}--disabled,
    &[disabled] {
      color: var(--bn-button-trigger-disabled-text-color);
      background-color: var(--bn-button-trigger-disabled-bg-color);
      border-color: var(--bn-button-trigger-disabled-border-color);
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}
