/**
 * ******************************************************
 * @file                     variables.scss
 * @description             Component variables
 * @author                  blancnova-web
 * ******************************************************
 */
/**
 * ******************************************************
 * @file                     variables.scss
 * @description             「表单项组件变量定义」
 * 定义表单项组件前缀与基础变量
 * @author                  blancnova-web
 * ******************************************************
 */

$form-item-prefix: bn-form-item;

@mixin form-item-base-variables {}

