/**
 * ******************************************************
 * @file                     mixin-size-style.scss
 * @description             Selection size styles
 * @author                  blancnova-web
 * ******************************************************
 */

@mixin selection-size-style {}
