/**
 * ******************************************************
 * @file                     variables.scss
 * @description             Selection variables
 * @author                  blancnova-web
 * ******************************************************
 */

@mixin selection-color-variables {
  --bn-selection-background-color: rgba(var(--bn-primary-color-inner-3), 0.4);
  --bn-selection-text-color: var(--bn-text-color-base);
  --bn-selection-pre-background-color: rgba(var(--bn-neutral-color-inner-3), 0.4);
  --bn-selection-code-background-color: rgba(var(--bn-primary-color-inner-3), 0.4);
  --bn-selection-a-background-color: rgba(var(--bn-primary-color-inner-4), 0.4);
  --bn-selection-background-color-dark: rgba(var(--bn-primary-color-inner-8), 0.4);
  --bn-selection-text-color-dark: var(--bn-text-color-base-dark);
}
