/**
 * ******************************************************
 * @file                     mixin-search-style.scss
 * @description             「搜索输入框样式混入」
 * 定义搜索输入框特有的样式
 * @author                  blancnova-web
 * ******************************************************
 */

@use './variables' as *;

// ==================================================
// #region 搜索按钮基础样式混入
// ==================================================
@mixin search-button-base-style {
  .#{$input-prefix}.#{$input-prefix}-search {
    .#{$input-prefix}__search-button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-width: var(--#{$input-prefix}-icon-size-medium);
      height: var(--#{$input-prefix}-height-medium);
      padding: 0 11px;
      font-size: var(--#{$input-prefix}-font-size-medium);
      color: var(--bn-text-color-base, rgb(0 0 0 / 88%));
      cursor: pointer;
      background-color: transparent;
      border: none;
      border-radius: var(--#{$input-prefix}-border-radius);
      transition: all var(--#{$input-prefix}-transition-duration);

      &:hover {
        color: var(--bn-primary-color-base, #1677ff);
      }

      &:disabled {
        color: var(--bn-text-color-disabled, rgb(0 0 0 / 25%));
        cursor: not-allowed;
      }
    }
  }
}
// #endregion
// ==================================================

// ==================================================
// #region 搜索按钮尺寸样式混入
// ==================================================
@mixin search-button-size-style {
  .#{$input-prefix}.#{$input-prefix}-search {
    &.#{$input-prefix}--small {
      .#{$input-prefix}__search-button {
        height: var(--#{$input-prefix}-height-small);
        padding: 0 7px;
        font-size: var(--#{$input-prefix}-font-size-small);
      }
    }

    &.#{$input-prefix}--large {
      .#{$input-prefix}__search-button {
        height: var(--#{$input-prefix}-height-large);
        padding: 0 15px;
        font-size: var(--#{$input-prefix}-font-size-large);
      }
    }
  }
}
// #endregion
// ==================================================

// ==================================================
// #region 搜索输入框样式组合
// ==================================================
@mixin search-input-style {
  @include search-button-base-style;
  @include search-button-size-style;
}
// #endregion
// ==================================================
