/**
 * ******************************************************
 * @file                     mixin-password-style.scss
 * @description             「密码输入框样式混入」
 * 定义密码输入框特有的样式
 * @author                  blancnova-web
 * ******************************************************
 */

@use './variables' as *;

// ==================================================
// #region 密码输入框可见性图标样式混入
// ==================================================
@mixin password-visibility-icon-style {
  .#{$input-prefix}.#{$input-prefix}-password {
    .#{$input-prefix}__visibility-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-width: var(--#{$input-prefix}-icon-size-medium);
      font-size: var(--#{$input-prefix}-icon-size-medium);
      color: var(--bn-text-color-quaternary, rgb(0 0 0 / 25%));
      pointer-events: auto;
      cursor: pointer;
      transition: color var(--#{$input-prefix}-transition-duration);

      &:hover {
        color: var(--bn-text-color-secondary, rgb(0 0 0 / 45%));
      }
    }
  }
}
// #endregion
// ==================================================

// ==================================================
// #region 密码输入框样式组合
// ==================================================
@mixin password-input-style {
  @include password-visibility-icon-style;
}
// #endregion
// ==================================================
