/**
 * ******************************************************
 * @file                     _variables.scss
 * @description             「搜索输入框变量定义」
 * 定义搜索输入框的 CSS 变量
 * @author                  blancnova-web
 * ******************************************************
 */

// ==================================================
// #region 变量定义
// ==================================================

$input-search-prefix: 'bn-input-search' !default;

// #endregion
// ==================================================
