/**
 * ******************************************************
 * @file                     bn-input-password.scss
 * @description             「密码输入框样式」
 * 应用密码输入框样式混入
 * @author                  blancnova-web
 * ******************************************************
 */

@use '../../styles/variables' as *;
@use '../../styles/mixin-password-style' as *;

// ==================================================
// #region 应用密码输入框样式
// ==================================================
@include password-input-style;
// #endregion
// ==================================================
