/**
 * ******************************************************
 * @file                     mixin-color-style.scss
 * @description             Select color styles
 * @author                  blancnova-web
 * ******************************************************
 */

@mixin select-color-style {}
