/**
 * ******************************************************
 * @file                     mixin-variant-style.scss
 * @description             Variant style mixin
 * @author                  blancnova-web
 * ******************************************************
 */
/**
 * ******************************************************
 * @file                     mixin-variant-style.scss
 * @description             「代码变体样式混入」
 * 定义可展开与行号等变体样式
 * @author                  blancnova-web
 * ******************************************************
 */

@use './variables' as *;

@mixin code-variant-style {
  .#{$pre-prefix}-expandable {
    position: relative;

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      height: 40px;
      pointer-events: none;
      content: '';
      background: linear-gradient(
        to bottom,
        rgb(255 255 255 / 0%) 0%,
        var(--bn-pre-background-color) 100%
      );
    }

    &.#{$pre-prefix}-expanded::after {
      display: none;
    }

    .#{$pre-prefix}-expand-button {
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: 1;
      padding: var(--bn-padding-xs) var(--bn-padding-sm);
      font-size: var(--bn-font-size-sm);
      color: var(--bn-text-color-secondary);
      cursor: pointer;
      background-color: var(--bn-bg-color-component);
      border: var(--bn-border-width-sm) solid var(--bn-border-color-base);
      border-radius: var(--bn-border-radius-md);
      transform: translateX(-50%);
    }
  }

  .dark-mode,
  [data-theme='dark'] {
    .#{$pre-prefix}-expandable::after {
      background: linear-gradient(
        to bottom,
        rgb(0 0 0 / 0%) 0%,
        var(--bn-pre-background-color-dark) 100%
      );
    }

    .#{$pre-prefix}-expand-button {
      color: var(--bn-text-color-secondary-dark);
      background-color: var(--bn-bg-color-component-dark);
      border-color: var(--bn-border-color-base-dark);
    }
  }

  .#{$pre-prefix}-line-numbers {
    position: relative;
    padding-left: 3.5em;
    counter-reset: line;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 2.5em;
      width: 1px;
      content: '';
      background-color: var(--bn-border-color-light);
    }

    .#{$code-prefix}-line::before {
      position: absolute;
      left: 0;
      display: inline-block;
      width: 2em;
      margin-right: 1.5em;
      color: var(--bn-text-color-disabled);
      text-align: right;
      content: counter(line);
      counter-increment: line;
    }

    .#{$code-prefix}-line {
      position: relative;
      display: block;
    }
  }

  .dark-mode,
  [data-theme='dark'] {
    .#{$pre-prefix}-line-numbers::before {
      background-color: var(--bn-border-color-light-dark);
    }

    .#{$pre-prefix}-line-numbers .#{$code-prefix}-line::before {
      color: var(--bn-text-color-disabled-dark);
    }
  }
}

