@use './variables' as *;

@mixin select-item-color-variables {
  --bn-select-item-primary-soft-bg-color: var(--bn-bg-color-primary-soft-base);
  --bn-select-item-primary-soft-text-color: var(--bn-text-color-primary-base);
  --bn-select-item-primary-soft-border-color: var(--bn-border-color-primary-light);
  --bn-select-item-primary-soft-hover-bg-color: var(--bn-bg-color-primary-soft-hover);
  --bn-select-item-primary-soft-hover-text-color: var(--bn-text-color-primary-hover);
  --bn-select-item-primary-soft-hover-border-color: var(--bn-border-color-primary-hover);
  --bn-select-item-primary-soft-active-bg-color: var(--bn-bg-color-primary-soft-active);
  --bn-select-item-primary-soft-active-text-color: var(--bn-text-color-primary-active);
  --bn-select-item-primary-soft-active-border-color: var(--bn-border-color-primary-active);
  --bn-select-item-primary-soft-selected-bg-color: var(--bn-bg-color-primary-soft-selected);
  --bn-select-item-primary-soft-selected-text-color: var(--bn-text-color-primary-active);
  --bn-select-item-primary-soft-selected-border-color: var(--bn-border-color-primary);
  --bn-select-item-primary-soft-disabled-bg-color: var(--bn-bg-color-disabled);
  --bn-select-item-primary-soft-disabled-text-color: var(--bn-text-color-disabled);
  --bn-select-item-primary-soft-disabled-border-color: var(--bn-border-color-disabled);

  --bn-select-item-primary-solid-bg-color: var(--bn-bg-color-primary-base);
  --bn-select-item-primary-solid-text-color: var(--bn-text-color-inverse);
  --bn-select-item-primary-solid-border-color: var(--bn-border-color-primary);
  --bn-select-item-primary-solid-hover-bg-color: var(--bn-bg-color-primary-hover);
  --bn-select-item-primary-solid-hover-text-color: var(--bn-text-color-inverse);
  --bn-select-item-primary-solid-hover-border-color: var(--bn-border-color-primary-hover);
  --bn-select-item-primary-solid-active-bg-color: var(--bn-bg-color-primary-active);
  --bn-select-item-primary-solid-active-text-color: var(--bn-text-color-inverse);
  --bn-select-item-primary-solid-active-border-color: var(--bn-border-color-primary-active);
  --bn-select-item-primary-solid-selected-bg-color: var(--bn-bg-color-primary-selected);
  --bn-select-item-primary-solid-selected-text-color: var(--bn-text-color-inverse);
  --bn-select-item-primary-solid-selected-border-color: var(--bn-border-color-primary);
  --bn-select-item-primary-solid-disabled-bg-color: var(--bn-bg-color-primary-disabled);
  --bn-select-item-primary-solid-disabled-text-color: var(--bn-text-color-disabled);
  --bn-select-item-primary-solid-disabled-border-color: var(--bn-border-color-primary-disabled);

  --bn-select-item-danger-soft-bg-color: var(--bn-bg-color-danger-soft-base);
  --bn-select-item-danger-soft-text-color: var(--bn-text-color-danger-base);
  --bn-select-item-danger-soft-border-color: var(--bn-border-color-danger-light);
  --bn-select-item-danger-soft-hover-bg-color: var(--bn-bg-color-danger-soft-hover);
  --bn-select-item-danger-soft-hover-text-color: var(--bn-text-color-danger-hover);
  --bn-select-item-danger-soft-hover-border-color: var(--bn-border-color-danger-hover);
  --bn-select-item-danger-soft-active-bg-color: var(--bn-bg-color-danger-soft-active);
  --bn-select-item-danger-soft-active-text-color: var(--bn-text-color-danger-active);
  --bn-select-item-danger-soft-active-border-color: var(--bn-border-color-danger-active);
  --bn-select-item-danger-soft-selected-bg-color: var(--bn-bg-color-danger-soft-selected);
  --bn-select-item-danger-soft-selected-text-color: var(--bn-text-color-danger-active);
  --bn-select-item-danger-soft-selected-border-color: var(--bn-border-color-danger);
  --bn-select-item-danger-soft-disabled-bg-color: var(--bn-bg-color-disabled);
  --bn-select-item-danger-soft-disabled-text-color: var(--bn-text-color-disabled);
  --bn-select-item-danger-soft-disabled-border-color: var(--bn-border-color-disabled);

  --bn-select-item-danger-solid-bg-color: var(--bn-bg-color-danger-base);
  --bn-select-item-danger-solid-text-color: var(--bn-text-color-inverse);
  --bn-select-item-danger-solid-border-color: var(--bn-border-color-danger);
  --bn-select-item-danger-solid-hover-bg-color: var(--bn-bg-color-danger-hover);
  --bn-select-item-danger-solid-hover-text-color: var(--bn-text-color-inverse);
  --bn-select-item-danger-solid-hover-border-color: var(--bn-border-color-danger-hover);
  --bn-select-item-danger-solid-active-bg-color: var(--bn-bg-color-danger-active);
  --bn-select-item-danger-solid-active-text-color: var(--bn-text-color-inverse);
  --bn-select-item-danger-solid-active-border-color: var(--bn-border-color-danger-active);
  --bn-select-item-danger-solid-selected-bg-color: var(--bn-bg-color-danger-selected);
  --bn-select-item-danger-solid-selected-text-color: var(--bn-text-color-inverse);
  --bn-select-item-danger-solid-selected-border-color: var(--bn-border-color-danger);
  --bn-select-item-danger-solid-disabled-bg-color: var(--bn-bg-color-danger-disabled);
  --bn-select-item-danger-solid-disabled-text-color: var(--bn-text-color-disabled);
  --bn-select-item-danger-solid-disabled-border-color: var(--bn-border-color-danger-disabled);

  --bn-select-item-warning-soft-bg-color: var(--bn-bg-color-warning-soft-base);
  --bn-select-item-warning-soft-text-color: var(--bn-text-color-warning-base);
  --bn-select-item-warning-soft-border-color: var(--bn-border-color-warning-light);
  --bn-select-item-warning-soft-hover-bg-color: var(--bn-bg-color-warning-soft-hover);
  --bn-select-item-warning-soft-hover-text-color: var(--bn-text-color-warning-hover);
  --bn-select-item-warning-soft-hover-border-color: var(--bn-border-color-warning-hover);
  --bn-select-item-warning-soft-active-bg-color: var(--bn-bg-color-warning-soft-active);
  --bn-select-item-warning-soft-active-text-color: var(--bn-text-color-warning-active);
  --bn-select-item-warning-soft-active-border-color: var(--bn-border-color-warning-active);
  --bn-select-item-warning-soft-selected-bg-color: var(--bn-bg-color-warning-soft-selected);
  --bn-select-item-warning-soft-selected-text-color: var(--bn-text-color-warning-active);
  --bn-select-item-warning-soft-selected-border-color: var(--bn-border-color-warning);
  --bn-select-item-warning-soft-disabled-bg-color: var(--bn-bg-color-disabled);
  --bn-select-item-warning-soft-disabled-text-color: var(--bn-text-color-disabled);
  --bn-select-item-warning-soft-disabled-border-color: var(--bn-border-color-disabled);

  --bn-select-item-warning-solid-bg-color: var(--bn-bg-color-warning-base);
  --bn-select-item-warning-solid-text-color: var(--bn-text-color-inverse);
  --bn-select-item-warning-solid-border-color: var(--bn-border-color-warning);
  --bn-select-item-warning-solid-hover-bg-color: var(--bn-bg-color-warning-hover);
  --bn-select-item-warning-solid-hover-text-color: var(--bn-text-color-inverse);
  --bn-select-item-warning-solid-hover-border-color: var(--bn-border-color-warning-hover);
  --bn-select-item-warning-solid-active-bg-color: var(--bn-bg-color-warning-active);
  --bn-select-item-warning-solid-active-text-color: var(--bn-text-color-inverse);
  --bn-select-item-warning-solid-active-border-color: var(--bn-border-color-warning-active);
  --bn-select-item-warning-solid-selected-bg-color: var(--bn-bg-color-warning-selected);
  --bn-select-item-warning-solid-selected-text-color: var(--bn-text-color-inverse);
  --bn-select-item-warning-solid-selected-border-color: var(--bn-border-color-warning);
  --bn-select-item-warning-solid-disabled-bg-color: var(--bn-bg-color-warning-disabled);
  --bn-select-item-warning-solid-disabled-text-color: var(--bn-text-color-disabled);
  --bn-select-item-warning-solid-disabled-border-color: var(--bn-border-color-warning-disabled);

  --bn-select-item-success-soft-bg-color: var(--bn-bg-color-success-soft-base);
  --bn-select-item-success-soft-text-color: var(--bn-text-color-success-base);
  --bn-select-item-success-soft-border-color: var(--bn-border-color-success-light);
  --bn-select-item-success-soft-hover-bg-color: var(--bn-bg-color-success-soft-hover);
  --bn-select-item-success-soft-hover-text-color: var(--bn-text-color-success-hover);
  --bn-select-item-success-soft-hover-border-color: var(--bn-border-color-success-hover);
  --bn-select-item-success-soft-active-bg-color: var(--bn-bg-color-success-soft-active);
  --bn-select-item-success-soft-active-text-color: var(--bn-text-color-success-active);
  --bn-select-item-success-soft-active-border-color: var(--bn-border-color-success-active);
  --bn-select-item-success-soft-selected-bg-color: var(--bn-bg-color-success-soft-selected);
  --bn-select-item-success-soft-selected-text-color: var(--bn-text-color-success-active);
  --bn-select-item-success-soft-selected-border-color: var(--bn-border-color-success);
  --bn-select-item-success-soft-disabled-bg-color: var(--bn-bg-color-disabled);
  --bn-select-item-success-soft-disabled-text-color: var(--bn-text-color-disabled);
  --bn-select-item-success-soft-disabled-border-color: var(--bn-border-color-disabled);

  --bn-select-item-success-solid-bg-color: var(--bn-bg-color-success-base);
  --bn-select-item-success-solid-text-color: var(--bn-text-color-inverse);
  --bn-select-item-success-solid-border-color: var(--bn-border-color-success);
  --bn-select-item-success-solid-hover-bg-color: var(--bn-bg-color-success-hover);
  --bn-select-item-success-solid-hover-text-color: var(--bn-text-color-inverse);
  --bn-select-item-success-solid-hover-border-color: var(--bn-border-color-success-hover);
  --bn-select-item-success-solid-active-bg-color: var(--bn-bg-color-success-active);
  --bn-select-item-success-solid-active-text-color: var(--bn-text-color-inverse);
  --bn-select-item-success-solid-active-border-color: var(--bn-border-color-success-active);
  --bn-select-item-success-solid-selected-bg-color: var(--bn-bg-color-success-selected);
  --bn-select-item-success-solid-selected-text-color: var(--bn-text-color-inverse);
  --bn-select-item-success-solid-selected-border-color: var(--bn-border-color-success);
  --bn-select-item-success-solid-disabled-bg-color: var(--bn-bg-color-success-disabled);
  --bn-select-item-success-solid-disabled-text-color: var(--bn-text-color-disabled);
  --bn-select-item-success-solid-disabled-border-color: var(--bn-border-color-success-disabled);

  --bn-select-item-info-soft-bg-color: var(--bn-bg-color-info-soft-base);
  --bn-select-item-info-soft-text-color: var(--bn-text-color-info-base);
  --bn-select-item-info-soft-border-color: var(--bn-border-color-info-light);
  --bn-select-item-info-soft-hover-bg-color: var(--bn-bg-color-info-soft-hover);
  --bn-select-item-info-soft-hover-text-color: var(--bn-text-color-info-hover);
  --bn-select-item-info-soft-hover-border-color: var(--bn-border-color-info-hover);
  --bn-select-item-info-soft-active-bg-color: var(--bn-bg-color-info-soft-active);
  --bn-select-item-info-soft-active-text-color: var(--bn-text-color-info-active);
  --bn-select-item-info-soft-active-border-color: var(--bn-border-color-info-active);
  --bn-select-item-info-soft-selected-bg-color: var(--bn-bg-color-info-soft-selected);
  --bn-select-item-info-soft-selected-text-color: var(--bn-text-color-info-active);
  --bn-select-item-info-soft-selected-border-color: var(--bn-border-color-info);
  --bn-select-item-info-soft-disabled-bg-color: var(--bn-bg-color-disabled);
  --bn-select-item-info-soft-disabled-text-color: var(--bn-text-color-disabled);
  --bn-select-item-info-soft-disabled-border-color: var(--bn-border-color-disabled);

  --bn-select-item-info-solid-bg-color: var(--bn-bg-color-info-base);
  --bn-select-item-info-solid-text-color: var(--bn-text-color-inverse);
  --bn-select-item-info-solid-border-color: var(--bn-border-color-info);
  --bn-select-item-info-solid-hover-bg-color: var(--bn-bg-color-info-hover);
  --bn-select-item-info-solid-hover-text-color: var(--bn-text-color-inverse);
  --bn-select-item-info-solid-hover-border-color: var(--bn-border-color-info-hover);
  --bn-select-item-info-solid-active-bg-color: var(--bn-bg-color-info-active);
  --bn-select-item-info-solid-active-text-color: var(--bn-text-color-inverse);
  --bn-select-item-info-solid-active-border-color: var(--bn-border-color-info-active);
  --bn-select-item-info-solid-selected-bg-color: var(--bn-bg-color-info-selected);
  --bn-select-item-info-solid-selected-text-color: var(--bn-text-color-inverse);
  --bn-select-item-info-solid-selected-border-color: var(--bn-border-color-info);
  --bn-select-item-info-solid-disabled-bg-color: var(--bn-bg-color-info-disabled);
  --bn-select-item-info-solid-disabled-text-color: var(--bn-text-color-disabled);
  --bn-select-item-info-solid-disabled-border-color: var(--bn-border-color-info-disabled);

  --bn-select-item-nature-soft-bg-color: rgba(var(--bn-neutral-inner-5), 0.2);
  --bn-select-item-nature-soft-text-color: var(--bn-text-color-base);
  --bn-select-item-nature-soft-border-color: var(--bn-border-color-base);
  --bn-select-item-nature-soft-hover-bg-color: rgba(var(--bn-neutral-inner-5), 0.12);
  --bn-select-item-nature-soft-hover-text-color: var(--bn-text-color-title);
  --bn-select-item-nature-soft-hover-border-color: var(--bn-border-color-hover);
  --bn-select-item-nature-soft-active-bg-color: rgba(var(--bn-neutral-inner-5), 0.28);
  --bn-select-item-nature-soft-active-text-color: var(--bn-text-color-emphasis);
  --bn-select-item-nature-soft-active-border-color: var(--bn-border-color-active);
  --bn-select-item-nature-soft-selected-bg-color: rgba(var(--bn-neutral-inner-5), 0.32);
  --bn-select-item-nature-soft-selected-text-color: var(--bn-text-color-emphasis);
  --bn-select-item-nature-soft-selected-border-color: var(--bn-border-color-active);
  --bn-select-item-nature-soft-disabled-bg-color: var(--bn-bg-color-disabled);
  --bn-select-item-nature-soft-disabled-text-color: var(--bn-text-color-disabled);
  --bn-select-item-nature-soft-disabled-border-color: var(--bn-border-color-disabled);

  --bn-select-item-nature-solid-bg-color: var(--bn-neutral-color-7);
  --bn-select-item-nature-solid-text-color: var(--bn-text-color-inverse);
  --bn-select-item-nature-solid-border-color: var(--bn-neutral-color-7);
  --bn-select-item-nature-solid-hover-bg-color: var(--bn-neutral-color-8);
  --bn-select-item-nature-solid-hover-text-color: var(--bn-text-color-inverse);
  --bn-select-item-nature-solid-hover-border-color: var(--bn-neutral-color-8);
  --bn-select-item-nature-solid-active-bg-color: var(--bn-neutral-color-9);
  --bn-select-item-nature-solid-active-text-color: var(--bn-text-color-inverse);
  --bn-select-item-nature-solid-active-border-color: var(--bn-neutral-color-9);
  --bn-select-item-nature-solid-selected-bg-color: var(--bn-neutral-color-8);
  --bn-select-item-nature-solid-selected-text-color: var(--bn-text-color-inverse);
  --bn-select-item-nature-solid-selected-border-color: var(--bn-neutral-color-8);
  --bn-select-item-nature-solid-disabled-bg-color: var(--bn-bg-color-disabled);
  --bn-select-item-nature-solid-disabled-text-color: var(--bn-text-color-disabled);
  --bn-select-item-nature-solid-disabled-border-color: var(--bn-border-color-disabled);

  --bn-select-item-white-soft-bg-color: var(--bn-bg-color-soft-base);
  --bn-select-item-white-soft-text-color: var(--bn-text-color-base);
  --bn-select-item-white-soft-border-color: var(--bn-border-color-light);
  --bn-select-item-white-soft-hover-bg-color: var(--bn-bg-color-soft-hover);
  --bn-select-item-white-soft-hover-text-color: var(--bn-text-color-base);
  --bn-select-item-white-soft-hover-border-color: var(--bn-border-color-hover);
  --bn-select-item-white-soft-active-bg-color: var(--bn-bg-color-soft-active);
  --bn-select-item-white-soft-active-text-color: var(--bn-text-color-base);
  --bn-select-item-white-soft-active-border-color: var(--bn-border-color-active);
  --bn-select-item-white-soft-selected-bg-color: var(--bn-bg-color-soft-selected);
  --bn-select-item-white-soft-selected-text-color: var(--bn-text-color-base);
  --bn-select-item-white-soft-selected-border-color: var(--bn-border-color-active);
  --bn-select-item-white-soft-disabled-bg-color: var(--bn-bg-color-disabled);
  --bn-select-item-white-soft-disabled-text-color: var(--bn-text-color-disabled);
  --bn-select-item-white-soft-disabled-border-color: var(--bn-border-color-disabled);

  --bn-select-item-white-solid-bg-color: var(--bn-bg-color-base);
  --bn-select-item-white-solid-text-color: var(--bn-text-color-base);
  --bn-select-item-white-solid-border-color: var(--bn-border-color-base);
  --bn-select-item-white-solid-hover-bg-color: var(--bn-bg-color-hover);
  --bn-select-item-white-solid-hover-text-color: var(--bn-text-color-base);
  --bn-select-item-white-solid-hover-border-color: var(--bn-border-color-hover);
  --bn-select-item-white-solid-active-bg-color: var(--bn-bg-color-active);
  --bn-select-item-white-solid-active-text-color: var(--bn-text-color-base);
  --bn-select-item-white-solid-active-border-color: var(--bn-border-color-active);
  --bn-select-item-white-solid-selected-bg-color: var(--bn-bg-color-selected);
  --bn-select-item-white-solid-selected-text-color: var(--bn-text-color-inverse);
  --bn-select-item-white-solid-selected-border-color: var(--bn-border-color-active);
  --bn-select-item-white-solid-disabled-bg-color: var(--bn-bg-color-disabled);
  --bn-select-item-white-solid-disabled-text-color: var(--bn-text-color-disabled);
  --bn-select-item-white-solid-disabled-border-color: var(--bn-border-color-disabled);

  --bn-select-item-black-soft-bg-color: rgba(var(--bn-neutral-inner-9), 0.12);
  --bn-select-item-black-soft-text-color: var(--bn-text-color-emphasis);
  --bn-select-item-black-soft-border-color: var(--bn-border-color-dark);
  --bn-select-item-black-soft-hover-bg-color: rgba(var(--bn-neutral-inner-9), 0.18);
  --bn-select-item-black-soft-hover-text-color: var(--bn-text-color-emphasis);
  --bn-select-item-black-soft-hover-border-color: var(--bn-border-color-hover);
  --bn-select-item-black-soft-active-bg-color: rgba(var(--bn-neutral-inner-9), 0.24);
  --bn-select-item-black-soft-active-text-color: var(--bn-text-color-emphasis);
  --bn-select-item-black-soft-active-border-color: var(--bn-border-color-active);
  --bn-select-item-black-soft-selected-bg-color: rgba(var(--bn-neutral-inner-9), 0.28);
  --bn-select-item-black-soft-selected-text-color: var(--bn-text-color-emphasis);
  --bn-select-item-black-soft-selected-border-color: var(--bn-border-color-active);
  --bn-select-item-black-soft-disabled-bg-color: var(--bn-bg-color-disabled);
  --bn-select-item-black-soft-disabled-text-color: var(--bn-text-color-disabled);
  --bn-select-item-black-soft-disabled-border-color: var(--bn-border-color-disabled);

  --bn-select-item-black-solid-bg-color: var(--bn-neutral-color-9);
  --bn-select-item-black-solid-text-color: var(--bn-text-color-inverse);
  --bn-select-item-black-solid-border-color: var(--bn-neutral-color-9);
  --bn-select-item-black-solid-hover-bg-color: var(--bn-neutral-color-8);
  --bn-select-item-black-solid-hover-text-color: var(--bn-text-color-inverse);
  --bn-select-item-black-solid-hover-border-color: var(--bn-neutral-color-8);
  --bn-select-item-black-solid-active-bg-color: var(--bn-neutral-color-9);
  --bn-select-item-black-solid-active-text-color: var(--bn-text-color-inverse);
  --bn-select-item-black-solid-active-border-color: var(--bn-neutral-color-9);
  --bn-select-item-black-solid-selected-bg-color: var(--bn-neutral-color-9);
  --bn-select-item-black-solid-selected-text-color: var(--bn-text-color-inverse);
  --bn-select-item-black-solid-selected-border-color: var(--bn-neutral-color-9);
  --bn-select-item-black-solid-disabled-bg-color: var(--bn-bg-color-disabled);
  --bn-select-item-black-solid-disabled-text-color: var(--bn-text-color-disabled);
  --bn-select-item-black-solid-disabled-border-color: var(--bn-border-color-disabled);
}
