@use './variables' as *;

@mixin select-item-state-style {
  .#{$select-item-prefix} {
    &:hover:not(.#{$select-item-prefix}--disabled):not([disabled]) {
      color: var(--bn-select-item-hover-text-color);
      background-color: var(--bn-select-item-hover-bg-color);
      border-color: var(--bn-select-item-hover-border-color);
    }

    &:active:not(.#{$select-item-prefix}--disabled):not([disabled]) {
      color: var(--bn-select-item-active-text-color);
      background-color: var(--bn-select-item-active-bg-color);
      border-color: var(--bn-select-item-active-border-color);
    }

    &.#{$select-item-prefix}--selected {
      color: var(--bn-select-item-selected-text-color);
      background-color: var(--bn-select-item-selected-bg-color);
      border-color: var(--bn-select-item-selected-border-color);
    }

    &.#{$select-item-prefix}--disabled,
    &[disabled] {
      color: var(--bn-select-item-disabled-text-color);
      background-color: var(--bn-select-item-disabled-bg-color);
      border-color: var(--bn-select-item-disabled-border-color);
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}
