@use './variables' as *;
@use './mixin-base-style' as *;
@use './mixin-size-style' as *;
@use './mixin-color-style' as *;
@use './mixin-variant-style' as *;
@use './mixin-state-style' as *;
@use './mixin-shape-style' as *;
@use './mixin-border-style' as *;

button.#{$trigger-prefix} {
  @include trigger-base-variables;
  @include trigger-size-variables;
  @include trigger-color-variables;
  @include trigger-shape-variables;
}

@include trigger-base-style;
@include trigger-size-style;
@include trigger-variant-style;
@include trigger-state-style;
@include trigger-shape-style;
@include trigger-border-style;
