@use './variables' as *;

@mixin trigger-state-style {
  .#{$trigger-prefix} {
    &:hover:not(.#{$trigger-prefix}--disabled):not([disabled]) {
      color: var(--bn-trigger-hover-text-color);
      background-color: var(--bn-trigger-hover-bg-color);
      border-color: var(--bn-trigger-hover-border-color);
    }

    &:active:not(.#{$trigger-prefix}--disabled):not([disabled]) {
      color: var(--bn-trigger-active-text-color);
      background-color: var(--bn-trigger-active-bg-color);
      border-color: var(--bn-trigger-active-border-color);
    }

    &.#{$trigger-prefix}--selected {
      color: var(--bn-trigger-selected-text-color);
      background-color: var(--bn-trigger-selected-bg-color);
      border-color: var(--bn-trigger-selected-border-color);
    }

    &.#{$trigger-prefix}--disabled,
    &[disabled] {
      color: var(--bn-trigger-disabled-text-color);
      background-color: var(--bn-trigger-disabled-bg-color);
      border-color: var(--bn-trigger-disabled-border-color);
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}
