@use './variables' as *;

@mixin trigger-variant-style {
  .#{$trigger-prefix}--variant-soft {
    --bn-trigger-bg-color: var(--bn-trigger-nature-soft-bg-color);
    --bn-trigger-text-color: var(--bn-trigger-nature-soft-text-color);
    --bn-trigger-border-color: var(--bn-trigger-nature-soft-border-color);
    --bn-trigger-hover-bg-color: var(--bn-trigger-nature-soft-hover-bg-color);
    --bn-trigger-hover-text-color: var(--bn-trigger-nature-soft-hover-text-color);
    --bn-trigger-hover-border-color: var(--bn-trigger-nature-soft-hover-border-color);
    --bn-trigger-active-bg-color: var(--bn-trigger-nature-soft-active-bg-color);
    --bn-trigger-active-text-color: var(--bn-trigger-nature-soft-active-text-color);
    --bn-trigger-active-border-color: var(--bn-trigger-nature-soft-active-border-color);
    --bn-trigger-selected-bg-color: var(--bn-trigger-nature-soft-selected-bg-color);
    --bn-trigger-selected-text-color: var(--bn-trigger-nature-soft-selected-text-color);
    --bn-trigger-selected-border-color: var(--bn-trigger-nature-soft-selected-border-color);
    --bn-trigger-disabled-bg-color: var(--bn-trigger-nature-soft-disabled-bg-color);
    --bn-trigger-disabled-text-color: var(--bn-trigger-nature-soft-disabled-text-color);
    --bn-trigger-disabled-border-color: var(--bn-trigger-nature-soft-disabled-border-color);
  }

  .#{$trigger-prefix}--variant-solid {
    --bn-trigger-bg-color: var(--bn-trigger-nature-solid-bg-color);
    --bn-trigger-text-color: var(--bn-trigger-nature-solid-text-color);
    --bn-trigger-border-color: var(--bn-trigger-nature-solid-border-color);
    --bn-trigger-hover-bg-color: var(--bn-trigger-nature-solid-hover-bg-color);
    --bn-trigger-hover-text-color: var(--bn-trigger-nature-solid-hover-text-color);
    --bn-trigger-hover-border-color: var(--bn-trigger-nature-solid-hover-border-color);
    --bn-trigger-active-bg-color: var(--bn-trigger-nature-solid-active-bg-color);
    --bn-trigger-active-text-color: var(--bn-trigger-nature-solid-active-text-color);
    --bn-trigger-active-border-color: var(--bn-trigger-nature-solid-active-border-color);
    --bn-trigger-selected-bg-color: var(--bn-trigger-nature-solid-selected-bg-color);
    --bn-trigger-selected-text-color: var(--bn-trigger-nature-solid-selected-text-color);
    --bn-trigger-selected-border-color: var(--bn-trigger-nature-solid-selected-border-color);
    --bn-trigger-disabled-bg-color: var(--bn-trigger-nature-solid-disabled-bg-color);
    --bn-trigger-disabled-text-color: var(--bn-trigger-nature-solid-disabled-text-color);
    --bn-trigger-disabled-border-color: var(--bn-trigger-nature-solid-disabled-border-color);
  }

  @each $color in $trigger-colors {
    .#{$trigger-prefix}--variant-soft.#{$trigger-prefix}--color-#{$color} {
      --bn-trigger-bg-color: var(--bn-trigger-#{$color}-soft-bg-color);
      --bn-trigger-text-color: var(--bn-trigger-#{$color}-soft-text-color);
      --bn-trigger-border-color: var(--bn-trigger-#{$color}-soft-border-color);
      --bn-trigger-hover-bg-color: var(--bn-trigger-#{$color}-soft-hover-bg-color);
      --bn-trigger-hover-text-color: var(--bn-trigger-#{$color}-soft-hover-text-color);
      --bn-trigger-hover-border-color: var(--bn-trigger-#{$color}-soft-hover-border-color);
      --bn-trigger-active-bg-color: var(--bn-trigger-#{$color}-soft-active-bg-color);
      --bn-trigger-active-text-color: var(--bn-trigger-#{$color}-soft-active-text-color);
      --bn-trigger-active-border-color: var(--bn-trigger-#{$color}-soft-active-border-color);
      --bn-trigger-selected-bg-color: var(--bn-trigger-#{$color}-soft-selected-bg-color);
      --bn-trigger-selected-text-color: var(--bn-trigger-#{$color}-soft-selected-text-color);
      --bn-trigger-selected-border-color: var(--bn-trigger-#{$color}-soft-selected-border-color);
      --bn-trigger-disabled-bg-color: var(--bn-trigger-#{$color}-soft-disabled-bg-color);
      --bn-trigger-disabled-text-color: var(--bn-trigger-#{$color}-soft-disabled-text-color);
      --bn-trigger-disabled-border-color: var(--bn-trigger-#{$color}-soft-disabled-border-color);
    }

    .#{$trigger-prefix}--variant-solid.#{$trigger-prefix}--color-#{$color} {
      --bn-trigger-bg-color: var(--bn-trigger-#{$color}-solid-bg-color);
      --bn-trigger-text-color: var(--bn-trigger-#{$color}-solid-text-color);
      --bn-trigger-border-color: var(--bn-trigger-#{$color}-solid-border-color);
      --bn-trigger-hover-bg-color: var(--bn-trigger-#{$color}-solid-hover-bg-color);
      --bn-trigger-hover-text-color: var(--bn-trigger-#{$color}-solid-hover-text-color);
      --bn-trigger-hover-border-color: var(--bn-trigger-#{$color}-solid-hover-border-color);
      --bn-trigger-active-bg-color: var(--bn-trigger-#{$color}-solid-active-bg-color);
      --bn-trigger-active-text-color: var(--bn-trigger-#{$color}-solid-active-text-color);
      --bn-trigger-active-border-color: var(--bn-trigger-#{$color}-solid-active-border-color);
      --bn-trigger-selected-bg-color: var(--bn-trigger-#{$color}-solid-selected-bg-color);
      --bn-trigger-selected-text-color: var(--bn-trigger-#{$color}-solid-selected-text-color);
      --bn-trigger-selected-border-color: var(--bn-trigger-#{$color}-solid-selected-border-color);
      --bn-trigger-disabled-bg-color: var(--bn-trigger-#{$color}-solid-disabled-bg-color);
      --bn-trigger-disabled-text-color: var(--bn-trigger-#{$color}-solid-disabled-text-color);
      --bn-trigger-disabled-border-color: var(--bn-trigger-#{$color}-solid-disabled-border-color);
    }
  }
}
