@use './variables' as *;

@mixin trigger-shape-variables {
  --bn-trigger-border-radius-square: var(--bn-border-radius-md);
  --bn-trigger-border-radius-circle: var(--bn-border-radius-circle);
  --bn-trigger-border-radius-capsule: var(--bn-border-radius-pill);
}

@mixin trigger-shape-style {
  .#{$trigger-prefix}--shape-square {
    border-radius: var(--bn-trigger-border-radius-square);
  }

  .#{$trigger-prefix}--shape-circle {
    border-radius: var(--bn-trigger-border-radius-circle);
  }

  .#{$trigger-prefix}--shape-capsule {
    border-radius: var(--bn-trigger-border-radius-capsule);
  }
}
