.common-form {
    width: 100%;
}

.common-form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.common-form-item__label {
    margin-bottom: 8px;
    font-size: 14px;
    color: var(--text-primary);
    line-height: 22px;
    font-weight: 500;
}

.common-form-item__label.is-required::before {
    content: '*';
    color: var(--danger-color, #ff4d4f);
    margin-right: 4px;
}

.common-form-item__content {
    position: relative;
    font-size: 14px;
}
