/**
 * ******************************************************
 * @file                     mixin-variant-style.scss
 * @description             Scrollbar variant styles
 * @author                  blancnova-web
 * ******************************************************
 */

$scrollbar-hidden-class: bn-scrollbar-hidden;
$scrollbar-thin-class: bn-scrollbar-thin;

@mixin scrollbar-hidden-style {
  .#{$scrollbar-hidden-class} {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@mixin scrollbar-thin-style {
  .#{$scrollbar-thin-class} {
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }
  }
}
