/**
 * ******************************************************
 * @file                     mixin-color-style.scss
 * @description             Scrollbar color styles
 * @author                  blancnova-web
 * ******************************************************
 */

@mixin scrollbar-color-style {}
