/**
 * ******************************************************
 * @file                     mixin-state-style.scss
 * @description             Heading state styles
 * @author                  blancnova-web
 * ******************************************************
 */

@use './variables' as *;

@mixin heading-state-style {
  .dark-mode,
  [data-theme='dark'] {
    h1,
    .#{$heading-prefix}-h1 {
      color: var(--bn-h1-color-dark);
    }
    h2,
    .#{$heading-prefix}-h2 {
      color: var(--bn-h2-color-dark);
    }
    h3,
    .#{$heading-prefix}-h3 {
      color: var(--bn-h3-color-dark);
    }
    h4,
    .#{$heading-prefix}-h4 {
      color: var(--bn-h4-color-dark);
    }
    h5,
    .#{$heading-prefix}-h5 {
      color: var(--bn-h5-color-dark);
    }
    h6,
    .#{$heading-prefix}-h6 {
      color: var(--bn-h6-color-dark);
    }
  }
}
