.bn-shadow-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  pointer-events: none;
  border-radius: inherit;

  &__circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: inherit;
    transform: translate(-50%, -50%);
    animation: bn-shadow-wave var(--duration, 0.5s) ease-out;
  }
}

@keyframes bn-shadow-wave {
  0% {
    box-shadow: 0 0 0 0 var(--shadow-color, rgb(24 144 255 / 40%));
    opacity: 1;
  }

  100% {
    box-shadow: 0 0 0 var(--shadow-spread, 20px) var(--shadow-color, rgb(24 144 255 / 0%));
    opacity: 0;
  }
}
