/**
 * ******************************************************
 * @file                     mixin-base-style.scss
 * @description             Radio base styles
 * @author                  blancnova-web
 * ******************************************************
 */

@use './variables' as *;

@mixin radio-base-style {
  .#{$radio-prefix} {
    position: relative;
    box-sizing: border-box;
    display: inline-flex;
    align-items: baseline;
    padding: 0;
    margin: 0;
    font-size: $radio-size-md;
    line-height: 1;
    color: $radio-text-color;
    white-space: nowrap;
    cursor: pointer;
    list-style: none;

    &__input {
      position: absolute;
      inset: 0;
      z-index: 1;
      margin: 0;
      cursor: pointer;
      opacity: 0;
    }

    &__inner {
      position: relative;
      display: block;
      flex-shrink: 0;
      width: $radio-size-md;
      height: $radio-size-md;
      background-color: $radio-bg;
      border: $radio-border-width solid $radio-border-color;
      border-radius: $radio-border-radius;
      transition: $radio-transition;

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: $radio-dot-size-md;
        height: $radio-dot-size-md;
        margin-top: calc($radio-dot-size-md / -2);
        margin-left: calc($radio-dot-size-md / -2);
        content: '';
        background-color: $radio-dot-color;
        border-radius: 50%;
        opacity: 0;
        transform: scale(0);
        transition: transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.15s;
      }
    }

    &__label {
      flex-grow: 1;
      padding-left: $radio-label-padding-left-md;
      line-height: $radio-size-md;
      vertical-align: middle;
    }

    &--checked {
      .#{$radio-prefix}__inner {
        background-color: $radio-bg;
        border-color: $radio-color;

        &::after {
          opacity: 1;
          transform: scale(1);
        }
      }
    }

    &:hover:not(.#{$radio-prefix}--disabled) {
      .#{$radio-prefix}__inner {
        border-color: $radio-hover-border-color;
      }
    }

    &--disabled {
      cursor: not-allowed;

      .#{$radio-prefix}__input {
        cursor: not-allowed;
      }

      .#{$radio-prefix}__inner {
        background-color: $radio-disabled-bg;
        border-color: $radio-disabled-border-color !important;

        &::after {
          background-color: $radio-disabled-dot-color;
        }
      }

      .#{$radio-prefix}__label {
        color: $radio-disabled-text-color;
      }
    }
  }
}

@mixin radio-button-base-style {
  .#{$radio-prefix}-button {
    position: relative;
    display: inline-block;
    height: auto;
    padding: $radio-button-padding-y-md $radio-button-padding-x-md;
    margin: 0;
    font-size: $radio-size-md;
    line-height: calc(#{$radio-size-md} + #{$radio-button-padding-y-md} * 2 - #{$radio-border-width} * 2);
    color: $radio-button-color;
    text-align: center;
    appearance: none;
    cursor: pointer;
    outline: 0;
    background: $radio-button-bg;
    border: $radio-border-width solid $radio-button-border-color;
    border-radius: 0;
    transition: $radio-transition;

    &__input {
      position: absolute;
      inset: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      margin: 0;
      cursor: pointer;
      opacity: 0;
    }

    .#{$radio-group-prefix} &:not(:first-child) {
      margin-left: -#{$radio-border-width};
    }

    &:hover:not(.#{$radio-prefix}-button--disabled):not(.#{$radio-prefix}-button--checked) {
      position: relative;
      z-index: 1;
      color: $radio-button-hover-color;
      border-color: $radio-button-hover-border-color;
    }

    &:focus-within:not(.#{$radio-prefix}-button--disabled):not(.#{$radio-prefix}-button--checked) {
      z-index: 1;
      color: $radio-button-active-color;
      border-color: $radio-button-active-border-color;
    }

    &--disabled {
      color: $radio-button-disabled-color;
      cursor: not-allowed;
      background-color: $radio-button-disabled-bg;
      border-color: $radio-button-disabled-border-color;

      &.#{$radio-prefix}-button--checked {
        color: $radio-button-checked-disabled-color;
        background-color: $radio-button-checked-disabled-bg;
        border-color: $radio-button-checked-disabled-border-color;
      }
    }
  }
}

@mixin radio-group-style {
  .#{$radio-group-prefix} {
    display: inline-block;
    font-size: 0;
    line-height: unset;

    &.#{$radio-group-prefix}--button {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 0;

      .#{$radio-prefix}-button {
        margin-right: 0;
        margin-bottom: 0;
      }

      .#{$radio-prefix}-button:first-child {
        border-top-left-radius: $radio-button-border-radius;
        border-bottom-left-radius: $radio-button-border-radius;
      }

      .#{$radio-prefix}-button:last-child {
        border-top-right-radius: $radio-button-border-radius;
        border-bottom-right-radius: $radio-button-border-radius;
      }

      .#{$radio-prefix}-button:not(:first-child) {
        margin-left: -#{$radio-border-width};
      }

      .#{$radio-prefix}-button--checked {
        z-index: 1;
      }

      .#{$radio-prefix}-button:hover,
      .#{$radio-prefix}-button:focus-within {
        position: relative;
        z-index: 1;
      }
    }

    &.#{$radio-group-prefix}--vertical {
      display: flex;
      flex-direction: column;

      .#{$radio-prefix}:not(:last-child) {
        margin-bottom: 8px;
      }

      &.#{$radio-group-prefix}--button {
        .#{$radio-prefix}-button:not(:first-child) {
          margin-top: -#{$radio-border-width};
          margin-left: 0;
        }

        .#{$radio-prefix}-button:first-child,
        .#{$radio-prefix}-button:last-child {
          border-radius: $radio-button-border-radius;
        }

        .#{$radio-prefix}-button:not(:first-child):not(:last-child) {
          border-radius: 0;
        }

        .#{$radio-prefix}-button:first-child {
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }

        .#{$radio-prefix}-button:last-child {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }

    &.#{$radio-group-prefix}--block {
      display: flex;

      .#{$radio-prefix}-button {
        flex: 1;
      }
    }
  }
}
