/**
 * ******************************************************
 * @file                     index.scss
 * @description             Select style entry
 * @author                  blancnova-web
 * ******************************************************
 */

@use './variables' as *;
@use './mixin-base-style' as *;
@use './mixin-size-style' as *;
@use './mixin-color-style' as *;
@use './mixin-state-style' as *;
@use './mixin-variant-style' as *;

.#{$select-prefix} {
  @include select-variables;
}

@include select-base-style;
@include select-size-style;
@include select-color-style;
@include select-state-style;
@include select-variant-style;
