/**
 * ******************************************************
 * @file                     mixin-variant-style.scss
 * @description             Select variant styles
 * @author                  blancnova-web
 * ******************************************************
 */

@mixin select-variant-style {}
