/**
 * ******************************************************
 * @file                     mixin-state-style.scss
 * @description             State style mixin
 * @author                  blancnova-web
 * ******************************************************
 */
/**
 * ******************************************************
 * @file                     mixin-state-style.scss
 * @description             「表格状态样式混入」
 * 预留交互状态样式
 * @author                  blancnova-web
 * ******************************************************
 */

@mixin table-state-style {}

