/**
 * ******************************************************
 * @file                     mixin-color-style.scss
 * @description             Selection color styles
 * @author                  blancnova-web
 * ******************************************************
 */

@mixin selection-color-style {}
