/**
 * ******************************************************
 * @file                     mixin-variant-style.scss
 * @description             Selection variant styles
 * @author                  blancnova-web
 * ******************************************************
 */

@mixin selection-variant-style {}
