/**
 * ******************************************************
 * @file                     index.scss
 * @description             「分割线组件样式」
 * 分割线组件的样式定义
 * @author                  blancnova-web
 * ******************************************************
 */

@use './variables' as *;
@use './mixins' as *;

// ==================================================
// #region 应用CSS变量
// ==================================================

.#{$divider-prefix} {
  @include divider-base-variables;
}

// #endregion
// ==================================================

// ==================================================
// #region 应用样式
// ==================================================

// 基础样式
@include divider-base-style;

// #endregion
// ==================================================
