/**
 * ******************************************************
 * @file                     mixin-state-style.scss
 * @description             Divider state styles
 * @author                  blancnova-web
 * ******************************************************
 */

@mixin divider-state-style {}
