/**
 * ******************************************************
 * @file                     index.scss
 * @description             「徽章组件样式」
 * 定义徽章组件的所有样式
 * @author                  blancnova-web
 * ******************************************************
 */

// 1. 导入所有模块
@use './variables' as *;
@use './mixin-base-style' as *;
@use './mixin-size-style' as *;
@use './mixin-color-style' as *;
@use './mixin-shape-style' as *;
@use './mixin-variant-style' as *;

// ==================================================
// #region 徽章组件样式入口
// ==================================================

// 2. 定义 CSS 变量
.bn-badge {
  @include badge-base-variables;
  @include badge-color-variables;
  @include badge-position-variables;
}

// 3. 应用基础样式
@include badge-base-style;

// 4. 应用修饰样式
@include badge-size-style;
@include badge-color-style;
// 应用形状样式（支持bn-badge--circle和bn-badge--square形状类）
@include badge-shape-style;
@include badge-outline-style;

// 5. 处理中动画
@keyframes badge-processing {
  0% {
    opacity: 0.8;
    transform: scale(0.8);
  }

  100% {
    opacity: 0;
    transform: scale(2.4);
  }
}

// #endregion
// ==================================================

