/**
 * ******************************************************
 * @file                     mixin-variant-style.scss
 * @description             Checkbox variant styles
 * @author                  blancnova-web
 * ******************************************************
 */

@mixin checkbox-variant-style {}
