/**
 * ******************************************************
 * @file                     mixin-base-style.scss
 * @description             Checkbox base styles
 * @author                  blancnova-web
 * ******************************************************
 */

@use './variables' as *;

@mixin checkbox-base-style {
  .#{$checkbox-prefix} {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-size: var(--bn-checkbox-font-size, 14px);
    line-height: 1;
    cursor: pointer;
    user-select: none;

    input[type='checkbox'] {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      cursor: inherit;
      opacity: 0;
    }

    &__inner {
      position: relative;
      box-sizing: border-box;
      display: inline-block;
      width: var(--bn-checkbox-size, 16px);
      height: var(--bn-checkbox-size, 16px);
      background-color: var(--bn-checkbox-bg, #fff);
      border: 1px solid var(--bn-checkbox-border-color, #d9d9d9);
      border-radius: var(--bn-checkbox-border-radius, 2px);
      transition: all 0.3s;

      &::after {
        position: absolute;
        top: 40%;
        left: 50%;
        display: table;
        width: var(--bn-checkbox-check-width, 4px);
        height: var(--bn-checkbox-check-height, 8px);
        content: '';
        border: 2px solid var(--bn-checkbox-check-color, #fff);
        border-top: 0;
        border-left: 0;
        opacity: 0;
        transform: translate(-50%, -50%) rotate(45deg) scale(0);
        transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
      }
    }

    &__label {
      padding-left: 8px;
      color: var(--bn-checkbox-text-color, rgb(0 0 0 / 88%));
    }
  }

  .#{$checkbox-group-prefix} {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}
