/**
 * ******************************************************
 * @file                     mixin-color-style.scss
 * @description             Checkbox color styles
 * @author                  blancnova-web
 * ******************************************************
 */

@mixin checkbox-color-style {}
