/**
 * ******************************************************
 * @file                     mixin-state-style.scss
 * @description             Checkbox state styles
 * @author                  blancnova-web
 * ******************************************************
 */

@use './variables' as *;

@mixin checkbox-state-style {
  .#{$checkbox-prefix}--checked {
    .#{$checkbox-prefix}__inner {
      background-color: var(--bn-checkbox-checked-bg, #1677ff);
      border-color: var(--bn-checkbox-checked-border, #1677ff);

      &::after {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(45deg) scale(1);
      }
    }
  }

  .#{$checkbox-prefix}--indeterminate {
    .#{$checkbox-prefix}__inner {
      background-color: var(--bn-checkbox-checked-bg, #1677ff);
      border-color: var(--bn-checkbox-checked-border, #1677ff);

      &::after {
        top: 50%;
        left: 50%;
        width: var(--bn-checkbox-indeterminate-width, 8px);
        height: var(--bn-checkbox-indeterminate-height, 2px);
        content: '';
        background-color: var(--bn-checkbox-check-color, #fff);
        border: 0;
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }

  .#{$checkbox-prefix}--disabled {
    cursor: not-allowed;

    .#{$checkbox-prefix}__inner {
      background-color: var(--bn-checkbox-disabled-bg, #f5f5f5);
      border-color: var(--bn-checkbox-disabled-border, #d9d9d9);

      &::after {
        border-color: var(--bn-checkbox-disabled-check-color, rgb(0 0 0 / 25%));
      }
    }

    .#{$checkbox-prefix}__label {
      color: var(--bn-checkbox-disabled-text-color, rgb(0 0 0 / 25%));
    }

    &.#{$checkbox-prefix}--checked {
      .#{$checkbox-prefix}__inner {
        background-color: var(--bn-checkbox-disabled-checked-bg, #d9d9d9);
        border-color: var(--bn-checkbox-disabled-checked-border, #d9d9d9);
      }
    }
  }

  .#{$checkbox-prefix}:hover:not(.#{$checkbox-prefix}--disabled) {
    .#{$checkbox-prefix}__inner {
      border-color: var(--bn-checkbox-hover-border, #1677ff);
    }
  }

  .#{$checkbox-prefix}:focus:not(.#{$checkbox-prefix}--disabled) {
    .#{$checkbox-prefix}__inner {
      border-color: var(--bn-checkbox-focus-border, #1677ff);
      box-shadow: 0 0 0 2px var(--bn-checkbox-focus-shadow, rgb(22 119 255 / 20%));
    }
  }

  .#{$checkbox-group-prefix}--disabled {
    cursor: not-allowed;
  }
}
