<link rel="stylesheet" href="components/sidebar/sidebar.css">
<aside class="sidebar">
    <div class="sidebar-header">
        Proxy Monitor
    </div>
    <nav class="sidebar-nav">
        <% modules.forEach(function(module, index) { %>
            <div class="nav-item <%= index === 0 ? 'active' : '' %>" data-target="<%= module.id %>">
                <i data-feather="<%= module.icon %>"></i>
                <span><%= t(module.nameKey) %></span>
            </div>
        <% }); %>
    </nav>
</aside>
